@model IList<Contracts.Database.Dog>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@inherits Helper<TModel>

<h1>Dogs</h1>

<p>
    <a asp-action="Create">Add new dog</a>
</p>

<form asp-action="Index" method="get">
    
    <div class="search-from form-group" id="search-form">
        <input name="searchRequest" type="search" class="form-control search-request" id="search-request" />
        <input type="submit" value="Search" class="btn btn-primary search-request-btn" id="search-request-btn" />
    </div>

    <p class="show-filters-button" id="show-filters-button">show filters</p>
    <div class="search-filters" id="search-filters" hidden>
        <div class="filter-age">
            Age
            <br>
            <input name="filterAge" id="age-slider" class="multi-range age-slider" type="range" />
            <br>
            <label id="selected-age"></label>
        </div>
        <div class="filter-row">
            Row
            <br>
            <input name="filterRow" id="row-filter" class="row-filter" type="number" />
        </div>
        <div class="filter-enclosure">
            Enclosure
            <br>
            <input name="filterEnclosure" id="encosure-filter" class="encosure-filter" type="number" />
        </div>
    </div>

</form>

<div class="dogs-container">
@for (int i = 0; i < Model.Count || i % 4 != 0; ++i) {
    if (i % 4 == 0)
    {
        @:<div class="row">
    }

    @if (i < Model.Count)
    {
        <div class="col"> 
            <div class="card">

                @{string imagePath = $"/images/{Model[i].Id}/Title.jpg";}
                <a href="/Dogs/Details/@Model[i].Id">
                    <img  src=@imagePath class="card-img-top" alt="...">
                </a>

                <div class="card-body">

                    <div class="name-age">

                        <div class="name-container">
                            <h5>@Model[i].Name</h5>
                        </div>

                        <div class="age-container">
                            <h6>@GetAge(Model[i].BirthDate)</h6>
                        </div>

                    </div>

                    <p class="card-text">
                        @{string firstLineAbout = Model[i].About.Split("\r\n")[0].Length < 30 ? Model[i].About.Split("\r\n")[0] : Model[i].About.Split("\r\n")[0].Substring(0, 30).Trim();}
                        @String.Concat(firstLineAbout, "...")
                    </p>

                </div>

            </div>
        </div>
    }
    else
    {
        <div class="col">
        </div>
    }

    if (i % 4 == 3)
    {
        @:</div>
    }
}
</div>

<script src="~/js/search.js" ></script>