@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Here will be some information in the future.</h3>
    <a href="https://t.me/Sirius_doges_bot">Here</a> is a search via telegram bot. 
</div>
