html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

#body {
  margin-bottom: 60px;
}

.input-image {
  display: block;
  max-width: 100%;
}

.cropped-image {  
  max-width: 50%;
}

.image-handler {
  width: 100%;
}

.carousel .carousel-item {
  height: 400px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.carousel-inner {
  width: 100%;
}

.carousel-img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#carousel-side-button{
  color:black;
  background-color: rgba(255, 255, 255, 0.397);
  border: solid 1px rgba(0, 0, 0, 0.253);
  border-radius: 50%;  
}

#carousel-side-button::after{
  content: none;
}

.photos-cell {
  width: 40%;
}

.about-textarea {
  overflow-y: hidden;
  resize: none;
}

.dogs-container {
  width: 100%;
}

.col {
  width: 25%; 
}

.row {
  padding-top: 20px;
}

.card{
  transition: all .2s ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 5px 3px rgba(0, 149, 255, 0.623);
  border-color: rgba(0, 149, 255, 0.719);
  transform: scale(1.05);
}

.name-age {
  width: 100%;
  display: inline-block;
}

.name-container{
  float: left;
}

.age-container{
  float: right;
  color: rgb(168, 168, 168);
}

.pagination{
  padding-top: 20px;
}

/* edit page */

.edit-title-photo
{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
}

#edit-change-title-photo-btn{
  width: 300px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.images{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.photo-control-container{
  width: 20%;
  margin-right: 5%;
  margin-bottom: 10px;
}

.add-photo-container:hover{
  cursor: pointer;
}

.add-dog-photo-img{
}

.photo-container{
  border: solid 1px rgb(194, 194, 194);
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dog-photo-img{
  max-height: 100%;
  max-width: 100%;
}

.dog-photo-img:hover{
  -webkit-filter: brightness(0.5);
}

.delete-photo-btn:hover{
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

/* SEARCH */

.search-form{
  width: 100%;
  border-radius: 10px;
  display: flex;
}

#search-request {
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search-request:focus {
  border-color: rgba(0, 123, 255, 0.459);
  box-shadow: none;
}

#search-request-btn {
  float: right;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.show-filters-button {

}

.show-filters-button:hover {
  cursor: pointer;
  color: deepskyblue;
  text-decoration: underline;
}

.search-filters {
  padding-left: 10px;
  padding-right: 10px;

  background-color: rgb(252, 252, 252);

  border-color: rgb(224, 224, 224);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}

.age-slider {
  width: 50%;
}

.filter-age {
  padding: 10px;
}

.filter-row {
  padding: 10px;
  border-top: solid 1px rgb(224, 224, 224);
}

.filter-enclosure {
  padding: 10px;
  border-top: solid 1px rgb(224, 224, 224);
}

/* SIGN OUT */

#session-info{
  display: inline-flex;
  padding-left: 5px;
}

.username-info{
  color: white;  
  padding-left: 5px;
  margin: auto;
  margin-right: 5px;
}

#sign-in-link, #sign-out-link{
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

#sign-in-link:hover, #sign-out-link:hover{
  cursor: pointer;
  background-color: rgb(80, 138, 255);
  color: white;
  text-decoration: none;
}

.create-and-back{
  margin-top: 10px;
}