html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.input-image {
  display: block;
  max-width: 100%;
}

.cropped-image {  
  max-width: 50%;
}

.image-handler {
  width: 100%;
}

.carousel .carousel-item {
  height: 400px;
  width: 400px;
  background-color: black;
}

.carousel-inner {
  width: 100%;
}

.carousel-item {
  height: 100%;
  width: 100%;
  background-color: black;
  position: relative;
}

.carousel-img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.photos-cell {
  width: 400px;
}

.about-textarea {
  overflow-y: hidden;
  resize: none;
}

.search-from{
  display: flex;
}

.search-request {

}

.search-request-btn {
  
}

.dogs-container {
  width: 100%;
}

.col {
  width: 25%; 
}

.row {
  padding-top: 10px;
}

.title-container {
  width: 100%;
}

.dog-title-img {
  width: 100%;
}

.details-container{
  width: 100%;
  display: inline-block;
}

.name-container{
  float: left;
}

.age-container{
  float: right;
}

.about-container{
  text-align: justify;
  max-width: 100%;
}

.about-container:after{
  content: "";
  display: inline;
  width: 100%;
}

.references-container{
  padding-top: 10px;
  text-align: justify;
  width: 100%;
}

.references-container:after{
  content: "";
  display: inline-block;
  width: 100%;
}